/*responsive*/
@media (max-width:1024px){
	.main-header-bar {
    border: none !important;
}
}
@media(min-width:1025px){
	header#masthead {
    position: absolute;
    width: 100%;
    background: transparent;
}
	.main-header-bar {
    background-color: transparent;
    border-bottom-color: #eaeaea;
    border-bottom-style: solid;
		border-bottom:none;
		color:white;
}
	.site-title a, .site-title a:focus, .site-title a:hover, .site-title a:visited {
    color: white;
}
	.fixed .main-header-bar {
    background-color: #fff;
		border-bottom:1px #eaeaea solid !important;
		color:#eaeaea !important;
}
	.main-header-menu .menu-link, .ast-header-custom-item a {
    color: white;
}
	.fixed .main-header-menu .menu-link, .fixed .ast-header-custom-item a {
    color: #3a3a3a;
}
}